/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* COMMON */
.discount, .sustainability, .price, del {
    font-size: 1.2rem;
}

:root {
    --header-clr: #FF6900;
    --red-tag: #FF0000;
    --green-tag: #008000;
    --footer-clr: #1A1A1A;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--header-clr);
    height: 60px;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.right-ul, .left-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    color: white;
    font-size: 1rem;
}

.right-ul {
    justify-content: flex-end;
}



.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 60px;
}

.header-logo img {
    max-height: 50%;
}


/* MAIN */
.row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 100px auto;
}

.col {
    width: calc(100% / 3 - 15px);
}

.card-img {
    position: relative;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: white;
}

.discount {
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 10px;
    background-color: red;
    color: white;
}

.sustainability {
    position: absolute;
    bottom: 50px;
    left: 72px;
    padding: 10px;
    background-color: green;
    color: white;
}

.sustainability.no-discount {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.price {
    color: red;
}

.display-none {
    display: none;
}

/* hover */
.card-1:hover .display-none {
    display: block;
}

.card-1:hover .display {
    display: none;
}

.card-2:hover .display-none {
    display: block;
}

.card-2:hover .display {
    display: none;
}


.card-3:hover .display-none {
    display: block;
}

.card-3:hover .display {
    display: none;
}

.card-4:hover .display-none {
    display: block;
}

.card-4:hover .display {
    display: none;
}

.card-5:hover .display-none {
    display: block;
}

.card-5:hover .display {
    display: none;
}

.card-6:hover .display-none {
    display: block;
}

.card-6:hover .display {
    display: none;
}

/* FOOTER */
.footer-container {
    background-color: var(--footer-clr);
    color: white;
    height: 100px;
    
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.footer-left h2 {
    padding: 15px 0;
     
}

.footer-right h3 {
    text-align: center;
    padding: 15px 0;
}

.footer-right .social {
    display: flex;
    font-size: 1.8rem;
}
